.cards{
display: flex;
gap: 15px;
flex-wrap: wrap;
justify-content: center;
margin-top: 5rem;
}
.card{
background-color: rgba(174, 157, 1, 0.185);
height: 40rem;
width: 20rem;
}
.card Img{
height: 25rem;
width: 100%;
}